# Archivos de Secretos y Entorno
.env

# Carpetas y archivos generados que no van en el repo
__pycache__/
dist/
build/
*.spec
*.log
*.bat

# Ignorar la carpeta _check y todos los archivos .txt
_check/
*.txt

# ¡NO IGNORAR requirements.txt!
!requirements.txt